* {
  box-sizing: border-box;
  color: red;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  box-sizing: inherit;
}

.modular {
  display: flex;
  justify-content: center;

  width: 45vw;
}
