* {
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: inherit;
  padding-block: 12vh;
}

.modular {
  background-color: white;
  display: flex;
  height: 500px;
  width: 600px;
  flex-direction: column;
}

.modular-content {
  background-color: black;
  height: 250px;
  display: flex;
  justify-content: flex-end;
}
fieldset {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.modular-close {
  background-color: grey;
  height: 20px;
  width: 20px;
  text-align: center;
}
input[type="checkbox"] {
  display: flex;
  width: 13px;
}
label[for="checkage"] {
  width: max-content;
}
button.register {
  width: 100px;
  height: 100px;
}
section.check {
  display: flex;
  align-self: flex-start;
  flex-direction: row-reverse;
}

.desc {
  display: flex;
  background-color: aqua;
  height: 100px;
  width: 300px; //random
  align-self: center;
  margin-inline: 150px; // can be updated
}
